<% provide :button_text, "Save Changes" %>
<div class="row">
  <h1> Create Post</h1>
  <aside class="col-md-12">
    <section class="post_form">
      <%= render "post_form" %>
    </section>
  </aside>
</div>
