<% provide :button_text, "Create Post" %>
<div class="row">
  <h1><%= t ".title" %></h1>
  <aside class="col-md-12">
    <section class="post_form">
      <%= render "post_form" %>
    </section>
  </aside>
</div>
