<footer class="footer">
  <small>
   Blog by <a href="#">Vu Phong</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>
